body {
   background-color: "#ADCFF7";
}
  
h1 {
  color: dark blue;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* unvisited link */
a:link {
  color: dark blue;
}

/* visited link */
a:visited {
  color: dark blue;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: dark blue;
}
