body {
   background-color: #FFC2DB;
}
  
h1 {
  color: dark pink;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* unvisited link */
a:link {
  color: dark pink;
}

/* visited link */
a:visited {
  color: dark pink;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: dark pink;
}
